<!DOCTYPE HTML>
<HTML>
	<TITLE>SignOut</TITLE>
	<HEAD>
		<!--  bootstrap -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<!-- Roboto Font -->
		<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'  type='text/css'>
		<!-- jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- Main css -->
		<link rel="stylesheet" href="css/main.css">
		<!-- gcharts loader -->
		<!-- table draw js -->
		<script src="js/main.js"></script>


		<!-- navbar -->
		<nav class="navborder navbar navbar-fixed-top navbar-expand-lg bg-white">
			<!-- <a class="navbar-brand" href="#">Navbar</a> -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div id="navbarSupportedContent">
        <ul class="navbar nav">
					<li class="nav-item">
						<a class="nav-link" id = "name" href="/">EaseAllergies</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/patient">PATIENT</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/doctor">DOCTOR</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/pharma">PHARMA</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- <link rel="stylesheet" style="text/stylesheet" href="main2.css"> -->
	</HEAD>

	<body class="bg-blue">
		<h1 style="padding-top: 1%;  text-align: center; font-size: 64px !important;" class="title-standard">RECORD</h1>



		<form class="form-horizontal">
			<div class="form-group">
				<label class="text-standard control-label col-sm-2">Name:</label>
				<div class="col-sm-7">
					<input class="form-control" id="id" placeholder="Enter name:" required>
				</div>
			</div>
			<div class="form-group">
				<label class="text-standard control-label col-sm-2">Pollen Level:</label>
				<div class="col-sm-7">
					<input class="form-control" id="loc" placeholder="Enter pollen level as given by EaseAllergies" required>
				</div>
			</div>
      <div class="form-group">
        <label class="text-standard control-label col-sm-2">Weather:</label>
        <div class="col-sm-7">
          <input class="form-control" id="weather" placeholder="Enter weather impacts" required>
        </div>
      </div>
      <div class="form-group">
        <label class="text-standard control-label col-sm-2">Major Symptom:</label>
        <div class="col-sm-7">
          <input class="form-control" id="symptom" placeholder="Enter symptom" required>
        </div>
      </div>
      <div class="form-group">
        <label class="text-standard control-label col-sm-2">Treatment:</label>
        <div class="col-sm-7">
          <input class="form-control" id="treat" placeholder="Enter treatment taken" required>
        </div>
      </div>
      <div class="form-group">
        <label class="text-standard control-label col-sm-2">Did the treatment work?</label>
        <div class="col-sm-7">
          <input type="checkbox" name="Treatment Worked">
        </div>
      </div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button id="submit-post" type="submit" class="btn padadd" style="color: #42c2f4; font-weight:bold; margin-top:1%;">SUBMIT</button>
				</div>
			</div>
		</form>

		<h3 id="success-text" style="margin-left:2%;" class="text-standard"></h3>





	</body>
</HTML>
